@use "../abstracts/type-styles";
@use "../abstracts/variables";
@use "../utilities/mixins";

.carousel__container {
}

.carousel__image {
    // object-fit: contain;
    // width: 100%;
    // height: 100%;
}

.carousel__image-loader {
    // visibility: hidden;
    &.show {
        visibility: visible;
    }
}

.carousel__container {
    position: relative;
}

.carousel__arrows {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    path {
        transition: 0.3s;
    }

    svg {
        width: var(--spacing-l);

        @include mixins.respond-above(variables.$break-s) {
            width: var(--spacing-xl);
        }

        @include mixins.respond-above(variables.$break-m) {
            width: auto;
        }
    }
}

.carousel__arrow--left {
    &:hover {
        path {
            fill: var(--color-primary-1);
        }
    }
}

.carousel__arrow--right {
    &:hover {
        path {
            fill: var(--color-primary-1);
        }
    }
}
