@use "../abstracts/type-styles";
@use "../abstracts/variables";
@use "../utilities/mixins";

.content-wrapper {
    margin-top: var(--spacing-xl);
}

.header {
}

.header__content {
    position: fixed;
    top: 0;
    background-color: var(--color-background);
    width: 100%;
    z-index: 100;
    background: linear-gradient(var(--color-background) 60%, var(--color-transparent));
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    .admin-bar & {
        margin-top: 32px;
    }
}

.header__primary {
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 20;
    box-sizing: border-box;
    padding: var(--spacing-s) var(--spacing-s) var(--spacing-l) var(--spacing-s);
    @include mixins.respond-above(variables.$break-s) {
        justify-content: flex-start;
        padding: var(--spacing-s) var(--spacing-m) var(--spacing-l) var(--spacing-m);
    }
    @include mixins.respond-above(variables.$break-m) {
        padding: var(--spacing-s) var(--spacing-l) var(--spacing-l) var(--spacing-l);
    }
    @include mixins.respond-above(variables.$break-l) {
        padding: var(--spacing-s) var(--spacing-xl) var(--spacing-l) var(--spacing-xl);
    }
}

.header__hamburger {
    margin-right: var(--spacing-xs);
    margin-top: 3px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    padding: 0;
    position: relative;

    &.show {
        display: block;
    }

    svg {
        margin-top: 1px;
        height: calc(var(--type-l) - 4px);
        position: relative;
        left: 0;
        width: auto;

        @include mixins.respond-above(variables.$break-s) {
            height: calc(var(--type-l) - 3px);
        }

        @include mixins.respond-above(variables.$break-m) {
            height: calc(var(--type-l) - 1px);
        }
    }

    path {
        fill: var(--color-primary-1);
        transition: fill 0.3s ease;
    }

    &:hover {
        path {
            fill: var(--color-primary-2);
        }
    }
}

.header__logo {
    a {
        @extend %nav-title;
        transition: 0.3s;
    }

    &.show {
        font-variation-settings: "RLNS" 1000;
    }
}

.header__page-title {
    @extend %nav-title-page;
    padding-left: var(--spacing-xs);
    line-height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;

    &.show {
        opacity: 1;
    }

    @include mixins.respond-above(variables.$break-s) {
        display: block;
    }
}

.header__secondary {
    margin: 0;
    padding: var(--spacing-xxl) var(--spacing-s);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    box-sizing: border-box;
    background-color: var(--color-background-overlay);
    // display: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;

    @include mixins.respond-above(variables.$break-m) {
        padding: var(--spacing-xxl) var(--spacing-m);
    }
    @include mixins.respond-above(variables.$break-l) {
        padding: var(--spacing-xxl) var(--spacing-xl);
    }

    &.show {
        // display: block;
        visibility: visible;
        opacity: 1;
    }
}

.header__page {
    list-style: none;
    margin-bottom: var(--spacing-s);
    @extend %nav-item;

    a {
        text-decoration: none;
        color: var(--color-text);
        transition: 0.3s;

        &:hover {
            font-variation-settings: "RLNS" 1000;
            color: var(--color-primary-1);
        }
    }
}

.header__page--current {
    a {
        @extend %nav-item-alt;
        color: var(--color-primary-1);
    }
}

.header__overlay {
    overflow: hidden;
}
