@use "../abstracts/type-styles";
@use "../abstracts/variables";

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-variant-numeric: oldstyle-nums;

    @extend %body-large;
}
