@use "../abstracts/type-styles";
@use "../abstracts/variables";
@use "../utilities/mixins";

.about {
    display: flex;
    flex-wrap: wrap;
    margin: var(--spacing-s);
    padding-top: var(--spacing-s);
    @include mixins.respond-above(variables.$break-s) {
        margin: var(--spacing-m);
        padding-top: var(--spacing-m);
    }
    @include mixins.respond-above(variables.$break-m) {
        margin: var(--spacing-l);
        padding-top: var(--spacing-l);
    }
    @include mixins.respond-above(variables.$break-l) {
        margin: var(--spacing-xl);
        padding-top: var(--spacing-xl);
    }
}

.studio {
    // @include mixins.columns(4);
    // margin-bottom: var(--spacing-l);
    columns: 1;

    @include mixins.respond-above(variables.$break-s) {
        columns: 2;
        grid-column-gap: var(--spacing-l);
        column-gap: var(--spacing-l);
    }

    @include mixins.respond-above(variables.$break-m) {
        columns: 2;
        grid-column-gap: var(--spacing-l);
        column-gap: var(--spacing-l);
    }

    @include mixins.respond-above(variables.$break-l) {
        columns: 1;
        @include mixins.columns(4);
        margin-bottom: var(--spacing-xxl);
    }
}

.studio__description {
    p {
        margin: 0 0 var(--spacing-s) 0;
    }
}

.studio__description-column {
}

.studio__description-title {
}

.studio__contact {
    display: flex;
    flex-wrap: wrap;

    @extend %body-small;
}

.studio__contact-column {
    margin-right: var(--spacing-s);
    margin-bottom: var(--spacing-s);

    @include mixins.respond-above(variables.$break-l) {
        flex-basis: calc((100% / 3) - var(--spacing-s));
        flex-grow: 1;
        flex-shrink: 1;
    }

    p {
        margin: 0;
    }
}

.studio__contact-info {
    a {
        @extend %external-link;
    }
}

.studio__contact-prefix {
}

.poetic-research {
    margin-bottom: var(--spacing-l);
    @include mixins.columns(8);

    @include mixins.respond-above(variables.$break-s) {
        @include mixins.columns(7);
    }

    @include mixins.respond-above(variables.$break-m) {
        @include mixins.columns(6);
    }

    @include mixins.respond-above(variables.$break-l) {
        @include mixins.columns(4);
    }
}

.poetic-research__title {
    @extend %nav-title-alt;
    margin: var(--spacing-xl) 0 0 0;
    display: inline-block;

    @include mixins.respond-above(variables.$break-l) {
        margin: 0;
    }
}

.people {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

    * {
        transition: all 0.2s ease;
    }
}

.person {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding-bottom: var(--spacing-xl);
    box-sizing: border-box;
    width: 100%;
    @include mixins.respond-above(variables.$break-s) {
        flex-basis: calc((100% / 2) - var(--spacing-m));
        width: calc((100% / 2) - var(--spacing-m));
    }
    @include mixins.respond-above(variables.$break-m) {
        flex-basis: calc((100% / 3) - var(--spacing-m));
        width: calc((100% / 3) - var(--spacing-m));
    }
    @include mixins.respond-above(variables.$break-l) {
        flex-basis: calc((100% / 4) - var(--spacing-m));
        width: calc((100% / 4) - var(--spacing-m));
    }
}

.person__spacer {
    width: var(--spacing-m);
    height: var(--spacing-m);
}

.person--small {
    width: 100%;
    @include mixins.respond-above(variables.$break-s) {
        flex-basis: calc((100% / 2) - var(--spacing-m));
        width: calc((100% / 2) - var(--spacing-m));
    }
    @include mixins.respond-above(variables.$break-m) {
        flex-basis: calc((100% / 3) - var(--spacing-m));
        width: calc((100% / 3) - var(--spacing-m));
    }
    @include mixins.respond-above(variables.$break-l) {
        flex-basis: calc((100% / 4) - var(--spacing-m));
        width: calc((100% / 4) - var(--spacing-m));
    }

    p {
        @extend %body-small;
    }
}

.person--large {
    width: 100%;
    @include mixins.respond-above(variables.$break-s) {
        flex-basis: calc((100% / 2) - var(--spacing-m));
        width: calc((100% / 2) - var(--spacing-m));
    }
    @include mixins.respond-above(variables.$break-m) {
        flex-basis: calc((100% * 2 / 3) - var(--spacing-m));
        width: calc((100% * 2 / 3) - var(--spacing-m));
    }
    @include mixins.respond-above(variables.$break-l) {
        flex-basis: calc((100% / 2) - var(--spacing-m));
        width: calc((100% / 2) - var(--spacing-m));
    }

    p {
        @extend %body-large;
    }
}

.person__headshot {
    width: 100%;
    margin: 0;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.person__primary-information {
    flex-basis: 90%;
    flex-grow: 1;
}

.person__name {
    @extend %heading-secondary;
    margin: 0;
}

.person__title {
    margin: 0;
}

.person__show {
    background: none;
    border: none;
    cursor: pointer;
    flex-basis: 10%;
    flex-shrink: 1;
    text-align: right;
    color: var(--color-text);
    @extend %heading-secondary;

    &:hover {
        color: var(--color-primary-1);
    }
}

.person__show--closed {
    &::after {
        content: "+";
        display: inline-block;
    }
}

.person__show--open {
    &::after {
        content: "-";
    }
}

.person__secondary-information {
    a {
        @extend %internal-link;
    }

    a[target="_blank"] {
        @extend %external-link;
    }
}

.person__secondary-information--closed {
    display: none;
}

.person__secondary-information--open {
    display: block;
}
