@use "../abstracts/type-styles";
@use "../abstracts/variables";
@use "../utilities/mixins";

.project-grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    margin: var(--spacing-s);
    padding-top: var(--spacing-s);
    @include mixins.respond-above(variables.$break-s) {
        margin: var(--spacing-m);
        padding-top: var(--spacing-m);
    }
    @include mixins.respond-above(variables.$break-m) {
        margin: var(--spacing-l);
        padding-top: var(--spacing-l);
    }
    @include mixins.respond-above(variables.$break-l) {
        margin: var(--spacing-xl);
        padding-top: var(--spacing-xl);
    }

    * {
        transition: all 0.3s ease;
    }
}

.project-grid__spacer {
    width: var(--spacing-m);
    height: var(--spacing-m);
    // width: 0;
    // height: 0;
}

.project-grid__item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: var(--spacing-xl);
    box-sizing: border-box;
    flex-basis: 100%;
    width: 100%;
    // margin-right: var(--spacing-s);
    // background-color: rgb(58, 58, 58);
    @include mixins.respond-above(variables.$break-s) {
        flex-basis: calc((100% / 2) - var(--spacing-m));
        width: calc((100% / 2) - var(--spacing-m));
    }
    @include mixins.respond-above(variables.$break-m) {
        flex-basis: calc((100% / 3) - var(--spacing-m));
        width: calc((100% / 3) - var(--spacing-m));
    }
    @include mixins.respond-above(variables.$break-l) {
        flex-basis: calc((100% / 4) - var(--spacing-m));
        width: calc((100% / 4) - var(--spacing-m));
    }
}

.project-grid__item--small {
    flex-basis: 100%;
    width: 100%;
    @include mixins.respond-above(variables.$break-s) {
        flex-basis: calc((100% / 2) - var(--spacing-m));
        width: calc((100% / 2) - var(--spacing-m));
    }
    @include mixins.respond-above(variables.$break-m) {
        flex-basis: calc((100% / 3) - var(--spacing-m));
        width: calc((100% / 3) - var(--spacing-m));
    }
    @include mixins.respond-above(variables.$break-l) {
        flex-basis: calc((100% / 4) - var(--spacing-m));
        width: calc((100% / 4) - var(--spacing-m));
    }
}

.project-grid__item--large {
    flex-basis: 100%;
    width: 100%;
    @include mixins.respond-above(variables.$break-s) {
        flex-basis: calc((100% / 2) - var(--spacing-m));
        width: calc((100% / 2) - var(--spacing-m));
    }
    @include mixins.respond-above(variables.$break-m) {
        flex-basis: calc((100% * 2 / 3) - var(--spacing-m));
        width: calc((100% * 2 / 3) - var(--spacing-m));
    }
    @include mixins.respond-above(variables.$break-l) {
        flex-basis: calc((100% / 2) - var(--spacing-m));
        width: calc((100% / 2) - var(--spacing-m));
    }
}

.project-grid__link {
    text-decoration: none;
    color: var(--color-text);

    &:hover {
        .project-grid__title,
        .project-grid__subtitle {
            color: var(--color-primary-1);
            font-variation-settings: "RLNS" 750;
        }

        .project-grid__image {
            opacity: 0.7;
        }
    }
}

.project-grid__title {
    flex-basis: 100%;
    margin: var(--spacing-xxs) 0;
}

.project-grid__subtitle {
    flex-basis: 100%;
    margin: var(--spacing-xxs) 0;
}

.project-grid__title--large {
    @extend %heading-primary;
}

.project-grid__title--small {
    @extend %heading-secondary;
}

.project-grid__subtitle--large {
    @extend %heading-secondary;
}

.project-grid__subtitle--small {
    @extend %heading-tertiary;
}

.project-grid__image-container {
    width: 100%;
    margin: 0;
}

.project-grid__image {
    width: 100%;
    padding: var(--spacing-m) var(--spacing-m) var(--spacing-s) 0;
    box-sizing: border-box;
}

.project-grid__video-container {
    position: relative;
    // padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin: var(--spacing-m) var(--spacing-m) var(--spacing-s) 0;
}

.project-grid__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-grid__tag {
    padding-right: var(--spacing-xs);
    text-decoration: none;
    color: var(--color-primary-2);
    margin: 0;
    margin-top: var(--spacing-xxs);

    &:hover {
        color: var(--color-primary-1);
    }
}

.project-grid__tag--large {
    @extend %tag-small;
}

.project-grid__tag--small {
    @extend %tag-small;
}
