@use "../utilities/mixins";

/* --------------------------------------------------------
    BREAKPOINTS
    -------------------------------------------------------- */
$break-s: 512px;
$break-m: 768px;
$break-l: 1024px;

:root {
    /* --------------------------------------------------------
    COLOR VARIABLE LIST
    -------------------------------------------------------- */
    --color-text: #ffffff;
    --color-background: #000000;
    --color-background-overlay: rgba(0, 0, 0, 0.8);
    --color-transparent: rgba(0, 0, 0, 0);
    --color-primary-1: #f05f9e;
    --color-primary-2: #fda3bf;
    --color-secondary-1: #087cfa;
    --color-secondary-2: #00aeef;
    --color-gradient: linear-gradient(
        -90deg,
        var(--color-secondary-2) 0%,
        var(--color-secondary-1) 25%,
        var(--color-primary-2) 50%,
        var(--color-primary-1) 75%
    );

    /* --------------------------------------------------------
    SPACING VARIABLE LIST
    -------------------------------------------------------- */
    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-s: 1rem;
    --spacing-m: 1.5rem;
    --spacing-l: 2rem;
    --spacing-xl: 3rem;
    --spacing-xxl: 5rem;
    --spacing-xxxl: 10rem;
    --spacing-xxxxl: 10rem;

    /* --------------------------------------------------------
    GRID VALUES
    -------------------------------------------------------- */
    --grid-col-num: 8;
    --grid-col-gutter: 3rem;

    /* --------------------------------------------------------
    LEADING VARIABLE LIST
    -------------------------------------------------------- */
    --leading-tight: 1;
    --leading-regular: 1.3;
    --leading-loose: 1.8;

    /* --------------------------------------------------------
    TYPE SIZE VARIABLE LIST
    -------------------------------------------------------- */
    --type-xs: 12px;
    --type-s: 14px;
    --type-m: 16px;
    --type-l: 20px;
    --type-xl: 24px;
    --type-xxl: 28px;
    --type-xxxl: 30px;
    @include mixins.respond-above($break-s) {
        --type-xs: 12px;
        --type-s: 14px;
        --type-m: 16px;
        --type-l: 22px;
        --type-xl: 28px;
        --type-xxl: 34px;
        --type-xxxl: 48px;
    }
    @include mixins.respond-above($break-m) {
        --type-xs: 12px;
        --type-s: 14px;
        --type-m: 18px;
        --type-l: 24px;
        --type-xl: 32px;
        --type-xxl: 38px;
        --type-xxxl: 60px;
    }
    @include mixins.respond-above($break-l) {
        --type-xs: 12px;
        --type-s: 14px;
        --type-m: 18px;
        --type-l: 24px;
        --type-xl: 34px;
        --type-xxl: 42px;
        --type-xxxl: 86px;

        --spacing-xxxxl: 20rem;
    }
}
