<div id="mc_embed_shell">
	<div id="mc_embed_signup">
		<form action="https://gmail.us17.list-manage.com/subscribe/post?u=221fc0c6bd338f07f4089be27&amp;id=382506f77a&amp;f_id=0054c2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
			<div id="mc_embed_signup_scroll">
				<h2>Subscribe</h2>
				<div class="mc-field-group"><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" placeholder="Email Address" aria-label="Email Address"></div>
				<div class="mc-field-group"><input type="email" name="FNAME" class="required text" id="mce-FNAME" required="" value="" placeholder="Full Name" aria-label="Full Name"></div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display: none;"></div>
					<div class="response" id="mce-success-response" style="display: none;"></div>
				</div>
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_221fc0c6bd338f07f4089be27_382506f77a" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe"></div>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
	<script type="text/javascript">
		(function ($) {
window.fnames = new Array();
window.ftypes = new Array();
fnames[0] = 'EMAIL';
ftypes[0] = 'email';
fnames[1] = 'FNAME';
ftypes[1] = 'text';
fnames[2] = 'LNAME';
ftypes[2] = 'text';
fnames[3] = 'ADDRESS';
ftypes[3] = 'address';
fnames[4] = 'PHONE';
ftypes[4] = 'phone';
fnames[5] = 'BIRTHDAY';
ftypes[5] = 'birthday';
}(jQuery));
var $mcj = jQuery.noConflict(true);
	</script>
</div>


