{% block html_head_container %}
	{% if page.title %}
		{% set meta_title = "Polymode " ~ page.title %}
		{% set meta_url = page.link %}
		{% set meta_facebook_image = get_image(options.facebook_image).src|resize(1200, 630) %}
		{% set meta_twitter_image = get_image(options.twitter_image).src|resize(1200, 600) %}
	{% elseif post.title %}
		{% set meta_title = post.title | striptags %}
		{% set meta_url = post.link %}
		{% if get_image(post.thumbnail_image).post_mime_type == "image/gif" %}
			{% set meta_facebook_image = get_image(post.thumbnail_image).src  %}
			{% set meta_twitter_image = get_image(post.thumbnail_image).src %}
		{% else %}
			{% set meta_facebook_image = get_image(post.thumbnail_image).src|resize(1200, 630)  %}
			{% set meta_twitter_image = get_image(post.thumbnail_image).src|resize(1200, 600) %}
		{% endif %}
	{% endif %}
	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{ body_class }}" data-template="base.twig">
<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
<header class="header">
	{% block header %}
		{% include "header.twig" with {'items': menu.get_items} %}
	{% endblock %}
</header>

<main id="content" role="main" class="content-wrapper {{ content_class }}">
	{% block content %}
		Sorry, no content
	{% endblock %}
</main>

{% block footer %}
	<footer id="footer" class="footer">
		{% include 'footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}</body></html>
